.panel-heading img {
    height: 38px;
}

.panel-default {
    max-width: 800px;
    margin-top: 50px;
}

.panel-body {
    height: 300px;
    overflow-y: auto;
    font-family: monospace;
}

.panel-body ul {
    list-style-type: none;
    padding-left: 0;
}

@media (min-width:992px) {
    .modal-body .col-md-6:nth-child(odd){clear:left;}
}

li.jarvis span { color: magenta; }
li.error { color: red; }
li.debug { color: gray; }
li.you span { color: dodgerblue; }

.rotate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
